#console {
  background-color: #c0c0c0;
  padding: 10px;
  width: 486px;
}

#mines {
  border-top: 3px solid #808080;
  border-left: 3px solid #808080;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}

#mines td,
.flag,
.flag_no {
  background-color: #c0c0c0;
  margin: 0;
  width: 12px;
  height: 12px;
  padding: 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  display: block;
  float: right;
  text-align: center;
  font-weight: bold;
}

.flower,
.flower_red {
  background-image: url(../media/flower.png);
  background-repeat: no-repeat !important;
  background-position: center center;
  border: 0 !important;
  border-top: 1px solid #808080 !important;
  border-right: 1px solid #808080 !important;
  width: 15px !important;
  height: 15px !important;
}

.flower_red {
  background-image: url(../media/flower_red.png);
}

.mousedown,
.empty {
  width: 15px !important;
  height: 15px !important;
  border-top: 1px solid #808080 !important;
  border-right: 1px solid #808080 !important;
  border-left: 0 !important;
  border-bottom: 0 !important;
}

.flag {
  background-image: url(../media/flag.png);
  background-repeat: no-repeat !important;
  background-position: center center;
}

.flag_no {
  background-image: url(../media/flag_no.png);
  background-repeat: no-repeat !important;
  background-position: center center;
}

.question {
  background-image: url(../media/question.png);
  background-repeat: no-repeat !important;
  background-position: center center;
}

#menu {
  border-top: 2px solid #808080;
  border-left: 2px solid #808080;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin-bottom: 5px;
  position: relative;
  height: 32px;
}

#smile {
  height: 20px;
  width: 20px;
  background-image: url(../media/smile.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid #808080;
  border-bottom: 3px solid #808080;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  margin-top: 3px;
}

.smile_o {
  background-image: url(../media/smile_o.png) !important;
}

.smile_x {
  background-image: url(../media/smile_x.png) !important;
}

.smileDown {
  border-top: 2px !important;
  border-left: 2px !important;
  border-right: 1px !important;
  border-bottom: 1px !important;
  border-color: #808080 !important;
  border-style: solid !important;
  width: 23px !important;
  height: 23px !important;
}


.count_1 {
  background-image: url(../media/1.png);
}
.count_2 {
  background-image: url(../media/2.png);
}
.count_3 {
  background-image: url(../media/3.png);
}
.count_4 {
  background-image: url(../media/4.png);
}
.count_5 {
  background-image: url(../media/5.png);
}
.count_6 {
  background-image: url(../media/6.png);
}
.count_7 {
  background-image: url(../media/7.png);
}
.count_8 {
  background-image: url(../media/8.png);
}